<f:layout name="Default" />


<!--
 <f:cObject typoscriptObjectPath="lib.contentSidebar" />
    <f:cObject typoscriptObjectPath="lib.content" />
-->

<f:section name="content">
    <div class="container blog-section">
        <div class="row main">
            <div class="col-2 main-sidebar">
                <f:cObject typoscriptObjectPath="lib.contentSidebar" />
            </div>

            <div class="col-10">
                <div class="main-content">
                    <f:cObject typoscriptObjectPath="lib.content" />
                </div>
            </div>
        </div>
    </div>
</f:section>