<div class="container">
        <div id="slider">
    
            <div class="card">
                <ul id="slides">
    
                    <li class="slide showing">
                        <div class="row">
    
                            <div class="slide-image col-8">
                                <img src="http://via.placeholder.com/1200x950" alt="">
                            </div>
    
                            <div class="slide-text col-4 ">
                                <header>
                                    <h1>{data.header}</h1>
                                </header>
                                <div class="main-content">
                                    <f:format.html>{data.bodytext}</f:format.html>
                                </div>
                                <footer>
                                    <a href="#">Weiterlesen</a>
                                </footer>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    