/* --- Header Section */


.nav-item {
    padding: 10px;
}

#header-image {
    background-image: url("/fileadmin/Resources/Public/Images/header.jpg");
    background-position: center;
    background-size: cover;
    height: 270px;
}

.header-bg-strip {
    background-color: #495a48;
    width: 100vw;
}