/* --- Slider (to make it work) */

#slides {
    position: relative;
    list-style-type: none;
    height: 480px;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

/* Slider (Styling) */

#slider {
    margin-bottom: 20px;
}

.slide {
    box-sizing: border-box;
    background: #333;
    color: #000;
    overflow: hidden;
}

.slide:nth-of-type(1) {
    background: red;
}

.slide:nth-of-type(2) {
    background: orange;
}

.slide:nth-of-type(3) {
    background: green;
}

.slide:nth-of-type(4) {
    background: blue;
}

.slide:nth-of-type(5) {
    background: purple;
}

.slide-image {
    background-color: blue;
    padding: 0;
    height: 480px;
    
}

.slide-image img {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
}

.slide-text {
    background-color: white;
    height: 100%;
    padding: 20px;
}
