/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans, Arial";
    color: #434343;
    line-height: 1.5;
    background-color: #eeeeee;

}

body {
    font-family: "Open Sans";
    
}

h1 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

h2 {
    font-size: 16px;
    font-weight: normal;    
}

p {
    font-size: 14px;
}

a {
    color: #0aa047;
}

.cat-item {
    list-style: none;
}

.cat-item a{
    color: rgb(104, 104, 104);
    line-height: 200%;
}

#date-output {
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
    font-size: 14px;
    color: #434343;
}